files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 500M;

#
#Resources:
#  AWSEBAutoScalingGroup:
#    Metadata:
#      AWS::CloudFormation::Authentication:
#        S3Auth:
#          type: "s3"
#          buckets:
#["elasticbeanstalk-ap-south-1-476409454443","reels-bucket"]
#          roleName:
#            "Fn::GetOptionSetting":
#              Namespace: "aws:autoscaling:launchconfiguration"
#              OptionName: "IamInstanceProfile"
#              DefaultValue: "aws-elasticbeanstalk-ec2-role"
